.bg-orginal{
    background-color: rgb(250, 232, 154);
}

.text-second-muted{
    color: rgb(180, 152, 60);
}

.bg-gray{
    background-color: rgb(224, 226, 226);
}

.text-ligthgray{
    color: rgb(139, 137, 137);
}

.bg-ligthdark{
    background-color: rgb(22, 19, 26);

}

.text-ligthsecandray{
    color: rgb(199, 197, 197);
}

.text-new-warning{
    color: rgb(255, 218, 52);
}


.bg-new-warning{
    background-color: rgb(255, 218, 52);
}

.bg-darker{
    background-color: rgb(15, 15, 19);
}

.bg-new-light{
    background-color: rgba(255, 255, 255,0.2);

}