.bg-orginal{
    background-color: rgb(250, 232, 154);
}

.text-second-muted{
    color: rgb(180, 152, 60);
}

.bg-gray{
    background-color: rgb(224, 226, 226);
}

.text-ligthgray{
    color: rgb(139, 137, 137);
}

.bg-ligthdark{
    background-color: rgb(45, 46, 46);

}

.text-ligthsecandray{
    color: rgb(199, 197, 197);
}