*{
    font-family: 'Vazirmatn-R', sans-serif;
}

html{
    font-size: 62.5%;
    direction: rtl;
}

h1{
    font-family: 'Vazirmatn-EB', sans-serif;
}


h2{
    font-family: 'Vazirmatn-EB', sans-serif;
}


.login{
    width: 50%;
}

.price-logo{
    background: url(./../resource/image/price2.png);
    background-position: center;
    background-size: 100% 100%;
}


.pay-logo{
    background: url(./../resource/image/pay3.png);
    background-size: 100% 100%;
}



.round{
    border-bottom-left-radius: 20% ;
    border-bottom-right-radius: 20%;
}

.lorem {
    margin: 6rem 3rem;
}

.text-lorem{
    margin-bottom: 6rem;
}

.form-card{
    width: 82%;
}

.form-card p{
    font-family: 'Vazirmatn-EB', sans-serif;
}

.br-end{
    border-right: 1px solid rgb(184, 184, 184);
}

.background-div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #111;
    opacity: 0.2;
    z-index: -1;
    transform: rotate(-5deg);
    transform-origin: center center;
}

.card-header ul {
    list-style-type: none;
}


.card-header li {
    margin-top: 0;
}

.card-header li::before {
    content: '\2022';
    font-size: 30px;
    margin-left: 5px;
    color: yellow;
}

.circle {
    height: 5rem;
    width: 10rem;
    border-radius: 5rem 5rem 0 0;
}

.second-circle {
    height: 4rem;
    width: 7rem;
    border-radius: 4rem 4rem 0 0;
    background-color: rgb(250, 232, 154);
}

.create {
    box-shadow: 0px 10px 10px rgba(250, 250, 133, 0.2);
}
